.container {
    width: 100%;
    height: 100%;
    padding: 0px;
    background-image: url("../assets/img/bg.jpg");
    flex-wrap: nowrap;
}

.col-flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.row-flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.header {
    flex-basis: 18%;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    max-height: 18%;
    overflow: hidden;
    background-color: transparent;
    align-items: center;
    color: white;
}

.header-title {
    text-decoration: none;
    color: rgba(230, 230, 230, 1);
    text-align: center;
}

.logo-img:hover {
    cursor: pointer
}

.nav-bar {
    width: 100%;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, .8);
    color: lightslategray;
}

.route-btn:hover {
    cursor: pointer;
    background-color: rgba(110, 110, 110, 1);
    color: white;
}

.active {
    background-color: rgba(110, 110, 110, 1);
    color: white;
}

.body {
    flex-basis: 76%;
    flex-grow: 2;
    flex-shrink: 2;
    width: 99%;
    margin: 0% .5%;
    max-height: 76%;
    overflow: auto;
    padding: 10px;
    background-color: rgba(110, 110, 110, .8);
}

.footer {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    flex-basis: 10%;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    max-height: 5.5%;
    margin-top: .3%;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, .8);
    font-size: 14px;
    font-family: 700;
}