<div class="container col-flex">
    <div class="header">
        <h2>Header will be added here</h2>
        <nav>
            <a routerLink="" routerLinkActive="active">MainMenu</a>
            <a routerLink="Solutions" routerLinkActive="active">ES6 Solutions</a>
            <a routerLink="DataVisualization" routerLinkActive="active">Data Visualization</a>
            <a routerLink="Controls" routerLinkActive="active">Controls</a>
        </nav>
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <h6> footer will be added here </h6>
    </div>
</div>